@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@custom-variant dark (&:where(.dark, .dark *));

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Outfit", sans-serif;
  scroll-behavior: smooth;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.animate-spin {
  animation: spin 1s linear infinite;
}

body {
  @apply bg-white dark:bg-gray-800 text-gray-800 dark:text-gray-100;
}

::selection {
  @apply bg-blue-600 dark:bg-blue-400 text-white;
}
